/* styles.css */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

:root {
    --color-green: #50fA7B;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    background: #282a36;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

header {
    padding: 32px;
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #333333;
}

header div.links {
    text-align: center;
}

header div.links a,
#wrapper div.social-media a {
    margin: 0 16px;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 28px;
    text-decoration: none;
}

header div.links a:hover,
#wrapper div.social-media a:hover {
    color: var(--color-green);
    transition: color 400ms;
}

#wrapper {
    padding: 32px;
    text-align: center;
}

#wrapper img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 32px;
    border: 5px solid var(--color-green)
}

#wrapper h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
}

#wrapper h3 {
    /* color: #FFFFFF; */
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 25px;
    opacity: 0.5;
}

#wrapper p {
    margin: 0 auto;
    max-width: 500px;
    font-size: 16px;
    line-height: 26px;
}

#wrapper div.social-media {
    margin-top: 25px;
}

#wrapper div.social-media a {
    font-size: 14px;
    border-bottom: 1px solid var(--color-green);
}

/******************** clases.html *******************/

section.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

section.cards .card {
    background-color: #7159C1;
}

section.cards .card .card-image-container {
    /* width: 400px; */
}

section.cards .card .card-image-container img {
    width: 100%;
}

section.cards .card .card-content,
section.cards .card .card-info {
    padding: 24px;
}

section.cards .card .card-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.cards .card .card-info .card-price {
    padding: 5px 20px;
    text-align: center;
    border-radius: 5px;
    background-color: #7159C1;
    filter: brightness(90%);
}